#time {
	font-family: monospace;
	font-size: 288px;
	font-color: black;
	font-weight: bold;
	color: white;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}